body {
    font-family: Lato;
    color: white;
    letter-spacing: 1pt;
}

h1 {
    font-size: 50px;
    margin: auto;
    display: block;
}

.white-border {
    border-style: solid;
    border-color: white;
}

.navbar {
    margin: auto;
}

a{
    color: white;
    text-decoration: none;
    border-style: solid;
    padding: 1%;
    background-color:rgba(0, 0, 0, 0.25);
}
.content-section {
    margin-top: 50%;
    margin-right: 15%;
    margin-left: 15%;
}

.centered {
    text-align: center;
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  top: 20%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}
